@page "/claimsview"
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

<h4>Your Authentication Information</h4>

<AuthorizeView>
    <Authorized>
        <table class="table">
            <thead>
                <tr>
                    <th>Claim Type</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in context.User.Claims)
                {
                    <tr>
                        <td>@item.Type</td>
                        <td>@item.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    </Authorized>
    <NotAuthorized>
        <b>You are not logged in.</b>
    </NotAuthorized>
</AuthorizeView>
@code {
    private int countClaim;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            countClaim = user.Claims.Count();
        }
    }
}
