@using Models;
@using System.Linq;
@using BlazorSimpleSurvey.Data;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Radzen.DialogService dialogService
@inherits OwningComponentBase<SimpleSurveyService>
@strError
<h3>Edit Survey Item</h3>
<RadzenCard Style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-12">
            <div>Survey Item Name:</div>
            <RadzenTextBox 
                           @bind-Value="SelectedSurveyItem.SurveyNavigation.SurveyName" 
                           Style="width: 400px" />
            <br />
        </div>
    </div>
</RadzenCard>
<RadzenButton Click="UpdateSurveyItem"
              Text="Save" ButtonStyle="ButtonStyle.Success"
              Style="margin-bottom: 10px; width: 150px" />
@if (SelectedSurveyItem.Id > 0)
{
    <RadzenButton Click="DeleteSurveyItemDialog"
                  ButtonStyle="ButtonStyle.Danger"
                  Text="Delete"
                  Style="margin-bottom: 10px; width: 150px" />
}
@code {
    [Parameter] public SurveyItem SelectedSurveyItem { get; set; }

    string strError = "";

    async Task UpdateSurveyItem()
    {
        try
        {
            if (SelectedSurveyItem.Id == -1)
            {
                SelectedSurveyItem = await @Service.CreateSurveyItemAsync(SelectedSurveyItem);
            }
            else
            {
                SelectedSurveyItem = await @Service.UpdateSurveyItemAsync(SelectedSurveyItem);
            }

            dialogService.Close(SelectedSurveyItem);
        }
        catch (Exception ex)
        {
            strError = ex.GetBaseException().Message;
        }
    }

    async Task DeleteSurveyItemDialog() => await dialogService
     .OpenAsync("Delete Survey Item", ds =>
    @<RadzenCard Style="padding: 20px;">
        <p Style="margin-bottom: 10px;">Confirm?</p>
        <div class="row">
            <div class="col-md-12">
                <RadzenButton Text="Yes" Click="DeleteSurveyItem"
                              Style="margin-bottom: 10px; width: 150px" />
                <RadzenButton Text="No" Click="()=> ds.Close(false)"
                              ButtonStyle="ButtonStyle.Secondary"
                              Style="margin-bottom: 10px; width: 150px" />
            </div>
        </div>
    </RadzenCard>);

async Task DeleteSurveyItem()
{
        var result = await @Service.DeleteSurveyItemAsync(SelectedSurveyItem);
        
        dialogService.Close(SelectedSurveyItem.Id);
        dialogService.Close(SelectedSurveyItem.Id);
    }
}