@using Microsoft.Identity.Client;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@inject IConfiguration _configuration
@inject ProtectedApiCallHelper ProtectedApiCallHelper
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Radzen.DialogService dialogService
<RadzenCard Style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-4">
            <div>Display Name:</div>
            <RadzenTextBox @bind-Value="GraphUser.displayName" Style="width: 200px" />
            <div style="margin-top:20px">First Name:</div>
            <RadzenTextBox @bind-Value="GraphUser.givenName" Style="width: 200px" />
            <div style="margin-top:20px">Last Name:</div>
            <RadzenTextBox @bind-Value="GraphUser.surname" Style="width: 200px" />
            <br />
        </div>
        <div class="col-md-8">
            <div>Groups:</div>
            <ul class="list-group">
                @foreach (var group in colGroups)
                {
                    <li class="list-group-item">
                        <p>@group.displayName</p>
                    </li>
                }
            </ul>
            @if ((isAdmin != null) && (GraphUser.id != CurrentUserID))
            {
                @if (!isAdmin.Value)
                {
                    <RadzenButton Click="AddToAdminGroup" Text="Add To Admin Group" ButtonStyle="ButtonStyle.Success" Style="margin-top: 20px; width: 300px" />
                }
                else
                {
                    <RadzenButton Click="RemoveFromAdminGroup" Text="Remove From Admin Group" ButtonStyle="ButtonStyle.Danger" Style="margin-top: 20px; width: 300px" />
                }
            }
        </div>
    </div>
</RadzenCard>
<div class="row">
    <div class="col-md-12">
        <RadzenButton Click="@((args) => dialogService.Close(true))"
                      Text="Save" ButtonStyle="ButtonStyle.Success"
                      Style="margin-bottom: 10px; width: 150px" />
        @if (GraphUser.id != CurrentUserID)
        {
            <RadzenButton Click="@((args) => dialogService.Close(false))"
                          ButtonStyle="ButtonStyle.Danger"
                          Text="Delete"
                          Style="margin-bottom: 10px; width: 150px" />
        }
        </div>
    @strError
</div>

@code {
    [Parameter] public GraphUser GraphUser { get; set; }

    string strError = "";
    string AdministrationGroup;
    bool? isAdmin = null;
    System.Security.Claims.ClaimsPrincipal user;
    string CurrentUserID;

    HttpClient httpClient;
    ProtectedApiCallHelper apiCaller;
    AuthenticationResult result = null;

    List<GraphGroup> colGroups = new List<GraphGroup>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

            user = authState.User;

            CurrentUserID = user.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")?.Value;

            AdministrationGroup = _configuration["AzureAdB2CManagement:AdministrationGroup"];

            IConfidentialClientApplication confidentialClientApplication =
            ConfidentialClientApplicationBuilder
            .Create(_configuration["AzureAdB2CManagement:ClientId"])
            .WithTenantId(_configuration["AzureAdB2CManagement:Tenant"])
            .WithClientSecret(_configuration["AzureAdB2CManagement:ClientSecret"])
            .Build();

            // With client credentials flows the scopes is ALWAYS of the shape
            // "resource/.default", as the
            // application permissions need to be set statically
            // (in the portal or by PowerShell),
            // and then granted by a tenant administrator
            string[] scopes = new string[] { "https://graph.microsoft.com/.default" };

            result = await confidentialClientApplication.AcquireTokenForClient(scopes)
                .ExecuteAsync();

            httpClient = new HttpClient();

            apiCaller = new ProtectedApiCallHelper(httpClient);

            var UserID = GraphUser.id;

            if (UserID != null)
            {
                await apiCaller.CallWebApiAndProcessResultASync(
                    $"https://graph.microsoft.com/v1.0/users/{UserID}/memberOf",
                    result.AccessToken,
                    DisplayGroups
                    );
            }

        }
        catch (Exception ex)
        {
            strError = ex.GetBaseException().Message;
        }
    }

    private void DisplayGroups(JObject result)
    {
        colGroups = new List<GraphGroup>();

        foreach (JProperty child in result.Properties()
            .Where(p => !p.Name.StartsWith("@")))
        {
            colGroups.AddRange(
            child.Value.ToObject<List<GraphGroup>>()
            );
        }

        if (AdministrationGroup != "")
        {
            isAdmin = (colGroups.Where(x => x.displayName.ToLower() == AdministrationGroup.ToLower()).FirstOrDefault() != null);
        }
    }

    async Task AddToAdminGroup()
    {

    }

    async Task RemoveFromAdminGroup()
    {

    }

}