@page "/"
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>Blazor Simple Survey</h1>

<img src="images/BlazorSimpleSurveyLogo_Large.png" />

<AuthorizeView>
    <Authorized>
        <p>FirstName: @FirstName</p>
 
    </Authorized>
</AuthorizeView>
@code {
    private string FirstName;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            FirstName = user.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname")?.Value;
        }
    }
}