@inherits LayoutComponentBase
<RadzenDialog/>
<RadzenNotification/>
<RadzenTooltip/>
<PageTitle>Blazor Simple Survey</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://github.com/ADefWebserver/BlazorSimpleSurvey/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
